h2 {
    font: 'Quicksand';
    color: #f4e55f;
}

h1 {
    font-family: 'Rochester', cursive;
    color: #f97087;
    /*letter-spacing: 4px;*/
    text-align: center;
    font-size: 90px;
}

h3 {
    font: 'Quicksand';
    color: #f4e55f;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    align-self: flex-end;
    font-size: 20px;
}

p {
    color: #e5e4dc;
    font-family: 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Details Pages Layout*/
    #Deets {
    width: 1200px;
}

#RowDeets {
    height: 400px;
}

#LargeDeets {
    height: 800px;
    width: 800px;
    border: dashed;
    border-bottom-color: black;
}

#SmallDeets {
    height: 400px;
    width: 400px;
    border: dashed;
    border-bottom-color: black;
}
/*End of Details Layout*/


body {
    background-image: url('catbg.jpg');
}


.overlay {
    background: rgba(91, 56, 62, .4);
    height: 120%;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-size:cover;
}

#homePanel {
    z-index: 3;
    background-color: rgba(91, 56, 62, .5);
    height: 600px;
    width: 97%;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    position: fixed;
    margin-bottom:50px;
}

#indexPanel {
    z-index: 3;
    background-color: rgba(91, 56, 62, .5);
    height: 600px;
    width: 97%;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 50px;
    text-align: center;
}

.col-md-4.home-page {
    text-align: center;

}

.row.homeindex {
    margin-top: 100px;

}

#bone, #upload, #heart {
    font-size: 100px;
    color: white;
    text-align: center;
    align-content: center;
}

#bone:hover, #upload:hover, #heart:hover {
        color: #e53754;
}

#login {
    font: 'Ubuntu';
    margin-top: 50px;
    float: right;
    margin-right: 10px;
    align-content: flex-end;
    padding: 10px;
    background: none;
    border: 2px solid white;
}

#pulse {
    z-index: 2;
    color: white;
    opacity: .5;
    font-size: 100px;
}

#navbarpaw {
    font-size: 50px;
    color: #e5e4dc;
}

/*Navbar Styling*/

.container {
    padding: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Rochester', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #f4e55f;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #e53754;
    }

a {
    color: aliceblue;
}

    a:hover {
        color: #f4e55f;
        text-decoration: none;
    }

.navbar-inverse {
    background: none;
    border: 0px;
    width: auto;
    align-content: flex-end;
}

button.navbar-toggle {
    background-color: #0e0e0f;
}



