h2 {
    font: 'Quicksand';
    color: #f4e55f;
}

h1 {
    font: 'Quicksand';
    color: #f4e55f;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    align-self: flex-end;
}

p {
    color: #e5e4dc;
    font-family: 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Details Pages Layout*/
    #Deets {
    width: 1200px;
}

#RowDeets {
    height: 400px;
}

#LargeDeets {
    height: 800px;
    width: 800px;
    border: dashed;
    border-bottom-color: black;
}

#SmallDeets {
    height: 400px;
    width: 400px;
    border: dashed;
    border-bottom-color: black;
}
/*End of Details Layout*/


body {
    background-image: url('catbg.jpg');
}


.overlay {
    background: rgba(91, 56, 62, .4);
    height: 120%;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-size:cover;
}

#homePanel {
    z-index: 3;
    background-color: rgba(91, 56, 62, .5);
    height: 600px;
    width: 1200px;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    position: fixed;
    margin-bottom:50px;
}

/*Navbar Styling*/

.container {
    padding: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 15px;
    color: #7a5b3d;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #c5d3d8;
    }

a {
    color: aliceblue;
}

    a:hover {
        text-decoration: none;
    }

.navbar-inverse {
    background: none;
    border: 0px;
    width: auto;
}

button.navbar-toggle {
    background-color: #0e0e0f;
}



