h2 {
    font: 'Quicksand';
    color: #f4e55f;
}

h1 {
    font-family: 'Rochester', cursive;
    color: #f97087;
    /*letter-spacing: 4px;*/
    text-align: center;
    font-size: 90px;
}

h3 {
    font: 'Quicksand';
    color: #f4e55f;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    align-self: flex-end;
    font-size: 20px;
}

p {
    color: #e5e4dc;
    font-family: 'Quicksand', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*font-family: 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}

body {
    background-image: url('catbg.jpg');
}

.overlay { /*This is the overlay color layer on the background image to make it purple*/
    background: rgba(91, 56, 62, .4);
    height: 1000px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    background-size: cover;
}

#homePanel { /*Styles the Create pages panels*/
    z-index: 3;
    background-color: rgba(91, 56, 62, .5);
    height: 600px;
    width: 97%;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 50px;
    overflow: scroll;
    text-align: center;
    /*margin-left: 20px;*/
}

#frontpagePanel { /*Styles the Homepage panel in Home Index*/
    z-index: 3;
    background-color: rgba(91, 56, 62, .5);
    height: 600px;
    width: 97%;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 50px;
}

#indexPanel { /*Styles the Index panels on all index pages*/
    z-index: 3;
    background-color: rgba(91, 56, 62, .5);
    height: 600px;
    width: 97%;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 50px;
    text-align: center;
    overflow: scroll;
}

#loginPanel { /*Styles the panels on the login page*/
    z-index: 3;
    background-color: rgba(91, 56, 62, .5);
    height: 550px;
    width: 500px;
    align-content: center;
    align-items: center;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 250px);
    overflow: hidden;
    border: 10px solid rgba(229, 228, 220, .5);
}

#detailsPanel { /*Styles pet details panel*/
    z-index: 3;
    background-color: rgba(91, 56, 62, .5);
    height: 600px;
    width: 97%;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    position: fixed;
    margin-bottom: 50px;
    overflow: scroll;
    text-align: center;
    margin-left: 20px;
}

.col-md-4.home-page { /*This centers things on the homepage*/
    text-align: center;
}

.row.homeindex {
    margin-top: 100px;
}

#bone, #upload, #heart { /*These are the icons on the homepage*/
    font-size: 100px;
    color: white;
    text-align: center;
    align-content: center;
}

    #bone:hover, #upload:hover, #heart:hover {
        color: #e53754;
    }

#login { /*Styles the login and register buttons on the homepage*/
    font: 'Quicksand';
    margin-top: 50px;
    float: right;
    margin-right: 10px;
    align-content: flex-end;
    padding: 10px;
    background: none;
    border: 2px solid white;
}

.container {
    padding: 0px;
}
/* Begin Navbar Styling*/
.navbar-inverse .navbar-nav > li > a {
    font-family: 'Rochester', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #f4e55f;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #e53754;
    }

a {
    color: aliceblue;
}

    a:hover {
        color: #f4e55f;
        text-decoration: none;
    }

.navbar-inverse {
    background: none;
    border: 0px;
    width: auto;
    align-content: flex-end;
}

button.navbar-toggle {
    background-color: #0e0e0f;
}

#navbarpaw {
    font-size: 50px;
    color: #e5e4dc;
}
/*End of Navbar styling*/
/*This styles the thumbnails and captions on the Index pages*/
.thumbnail.index {
    border: none;
    background: none;
    box-shadow: rgba(28, 27, 27, .3) 10px 10px 10px inset;
}

    .thumbnail.index:hover {
        transform: scale(1.05)
    }

.indexPages {
    /*border: 3px solid #eaeaea;*/
    padding: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.caption {
    width: auto;
    background-color: #eaeaea;
}

.imageDetails {
    font-size: 24px;
    color: #e53754;
    font-family: 'Rochester', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fas.fa-edit, .fas.fa-info-circle, .fas.fa-trash-alt {
    color: #e53754;
    font-size: 12px;
}

    .fas.fa-edit:hover, .fas.fa-info-circle:hover, .fas.fa-trash-alt:hover {
        color: #f9022b;
    }

.btn.btn-default {
    background: none;
    border: 1px solid white;
    color: white;
}

.fas.fa-plus-circle {
    margin-left: 5px;
}

    .fas.fa-plus-circle:active {
        color: #f9022b;
    }

th {
    text-align: center;
    color: #f97087;
}

td {
    color: #e5e4dc;
}
/*Login Page*/
label{
    font-weight:normal;
}
h2.Login {
    font-family: 'Rochester', cursive;
    color: #f97087;
    font-size: 50px;
}

h4.Login {
    padding-top: 20px;
    font: 'Quicksand';
    color: #f4e55f;
}

.form-group.loginFront {
    padding-top: 20px;
    font: 'Quicksand'!important;
    color: #f4e55f;
}

form.form-horizontal.login {
    margin-left: 20px;

}

.form-control.form {
    background: transparent!important;
    border-bottom: 1px solid white;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    box-shadow: none!important;
    border-radius: 0px;
    -webkit-box-shadow: 0px!important;
    color: white;


}

.form-control.form:focus {
    background: transparent!important;
    border-bottom: 1px solid white;
}

.form-control.form:active {

    background: transparent!important;
}

div.checkbox {

    font: 'Quicksand';
    color: #f4e55f;
    align-content:center;
    text-align:center;
}

.LoginButton {
    font: 'Quicksand';
    text-align:center;
    align-content:center;
}

    .LoginButton input.btn.btn-default {
       margin-top: 20px;
       align-content:center;
       text-align: center;
        color: #e5e4dc;
        border: 1px solid;
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        

    }

        .LoginButton input.btn.btn-default:hover {     
            color: #f4e55f;
        }

p.Options {
    padding-top: 20px;
}

    p.Options a {
        font: 'Quicksand';
        color: #f4e55f;
    }


button#Google.btn.btn-primary {
    align-content: center;
    background-image: url('Images2/imageedit__3592102400.png');
    background-size: cover;
    /*border-radius: 50%;*/
    border: none;
    box-shadow: none;
    background-color: none;
    min-height: 77px;
    background-color: transparent;
    height: 80px;
    width: 80px;
    color: transparent;
    padding: 5px 5px 5px 5px !important;
}

    button#Google.btn.btn-default:hover {
        border: solid;
        height: 50px;
        width: 80px;
    }
/*Register Page*/
h2.Register {
    padding-right: 500px;
    padding-left: 500px;
    font-family: 'Rochester', cursive;
    color: #f97087;
    font-size: 100px;
}

h4.Create {
    padding-right: 500px;
    padding-left: 500px;
    padding-top: 20px;
    font: 'Quicksand';
    color: #f4e55f;
}

input#Submit.btn.btn-default {
    border-radius: 30%;
    color: #f4e55f;
    opacity: .9;
    border: solid;
    height: 50px;
    width: 90px;
}

    input#Submit.btn.btn-default:hover {
        border-radius: 30%;
        color: #f97087;
        opacity: .9;
        border: solid;
        height: 50px;
        width: 80px;
    }

h4 {
    font: 'Quicksand';
    color: #5b383e;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
}
/*loader*/
#loader {
    align-content: center;
}

.flying-area {
    background-color: #5b383e;
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.ufo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    -webkit-animation: radial 20s infinite linear normal;
    -moz-animation: radial 20s infinite linear normal;
    -o-animation: radial 20s infinite linear normal;
    animation: radial 20s infinite linear normal;
}

.rabbit-wrap {
    width: 51px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

    .rabbit-wrap:before {
        content: '';
        display: block;
        height: 10px;
        position: absolute;
        left: 2px;
        top: 48px;
        right: 0;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 -3px 3px rgba(0,0,0,0.3) inset;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        z-index: 1;
    }

.rabbit-head {
    width: 24px;
    height: 22px;
    margin: 0 0 -10px 7px;
    position: relative;
    z-index: 2;
    border: 1px solid #444;
    border-radius: 60% 60% 50% 50%;
    box-shadow: 2px -1px 5px rgba(0,0,0,0.2) inset, 2px -1px 2px rgba(0,0,0,0.25) inset;
    background-color: #fff;
}

.rabbit-eye__left {
    width: 3px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 10px;
    background-color: #444;
}

.rabbit-eye__right {
    width: 3px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 16px;
    background-color: #444;
}

.rabbit-noose {
    width: 8px;
    height: 4px;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    left: 12px;
    top: 12px;
    background-color: #444444;
}

    .rabbit-noose:before {
        content: "";
        display: block;
        width: 4px;
        height: 6px;
        border-radius: 50% 50% 50% 50%;
        position: absolute;
        left: 3px;
        background-color: #444444;
    }

.rabbit-ear__left {
    width: 6px;
    height: 27px;
    border: 1px solid #444444;
    position: absolute;
    left: -8px;
    top: -15px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: -2px 1px 1px rgba(0,0,0,0.30) inset;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
    background: none repeat scroll 0 0 #FFFFFF;
}

    .rabbit-ear__left:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        left: -1px;
        bottom: -3px;
        background-color: #fff;
    }

.rabbit-ear__right {
    width: 6px;
    height: 25px;
    border: 1px solid #444444;
    position: absolute;
    left: 5px;
    top: -21px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: -2px 1px 1px rgba(0,0,0,0.30) inset;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
    background: none repeat scroll 0 0 #FFFFFF;
}

    .rabbit-ear__right:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        left: -1px;
        bottom: -3px;
        background-color: #fff;
    }

.rabbit-body {
    width: 35px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #444;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2) inset, 0 5px 3px rgba(0, 0, 0, 0.3) inset;
    background-color: #fff;
}

    .rabbit-body:after {
        content: '';
        display: block;
        width: 16px;
        height: 35px;
        position: absolute;
        right: -10px;
        top: 10px;
        z-index: -1;
        border-radius: 0 100% 0 0;
        border-right: 1px solid #444;
        box-shadow: -5px -4px 5px rgba(0, 0, 0, 0.3) inset, -2px 2px 2px rgba(0, 0, 0, 0.2) inset, 8px 0 2px rgba(0,0,0,0.2) inset;
        background-color: #fff;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    .rabbit-body:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid #444;
        border-radius: 50% 45%;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset, 6px -1px 3px rgba(0, 0, 0, 0.6) inset;
        position: absolute;
        right: -15px;
        top: 27px;
        z-index: -1;
        background-color: #fff;
    }

.rabbit-hands {
    position: relative;
    z-index: 0;
}

.rabbit-hands__left {
    width: 7px;
    height: 13px;
    border: 1px solid #444;
    border-top: none;
    border-radius: 0 0 100% 100%;
    background-color: #fff;
    position: absolute;
    top: 31px;
    left: 8px;
    box-shadow: 0 -4px 2px rgba(0, 0, 0, 0.2) inset;
}

    .rabbit-hands__left:before {
        content: '';
        display: block;
        width: 6px;
        height: 15px;
        border-top: 1px solid #444;
        border-radius: 100% 100% 0 0;
        background-color: #fff;
        position: absolute;
        top: -3px;
        left: 7px;
        box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3) inset;
        z-index: -1;
    }

.rabbit-hands__right {
    width: 7px;
    height: 11px;
    border: 1px solid #444;
    border-top: none;
    border-radius: 0 0 100% 100%;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: 21px;
    box-shadow: 0 -4px 2px rgba(0, 0, 0, 0.2) inset;
}

.carrot-wrap {
    position: relative;
    top: -20px;
    z-index: 2;
    width: 150px;
    height: 40px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.carrot-body__top {
    width: 90%;
    height: 19px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #444;
    border-bottom: none;
    border-radius: 100% 20% 0 0;
    background-color: orange;
    box-shadow: 0 0px 1px rgba(0,0,0,0.3) inset
}

    .carrot-body__top:before {
        content: '';
        display: block;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 12px;
        right: -50px;
        border: 1px solid darkgreen;
        border-radius: 50%;
        background-color: green;
        box-shadow: -1px -1px 5px rgba(0,0,0,0.3) inset;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    .carrot-body__top:after {
        content: '';
        display: block;
        width: 30px;
        height: 6px;
        position: absolute;
        top: 25px;
        right: -35px;
        border: 1px solid darkgreen;
        border-radius: 50%;
        background-color: green;
        box-shadow: -1px -1px 5px rgba(0,0,0,0.3) inset;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

.carrot-body__bottom {
    width: 90%;
    height: 19px;
    margin: 0 auto;
    position: relative;
    top: -1px;
    border: 1px solid #444;
    border-top: none;
    border-radius: 0 0 20% 100%;
    background-color: orange;
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.3) inset;
}

    .carrot-body__bottom:before {
        content: '';
        position: absolute;
        top: -6px;
        left: -3px;
        width: 10px;
        height: 12px;
        background-color: orange;
        overflow: hidden;
        border-radius: 100% 0 0 100%;
        border-left: 1px solid #444;
        box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.2) inset;
    }

    .carrot-body__bottom:after {
        content: '';
        position: absolute;
        top: -17px;
        right: -7px;
        width: 15px;
        height: 34px;
        background-color: orange;
        overflow: hidden;
        border-radius: 0 100% 100% 0;
        border-right: 1px solid #444;
        box-shadow: -5px -4px 5px rgba(0, 0, 0, 0.3) inset;
    }

@-webkit-keyframes radial {
    0% {
        -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

@-moz-keyframes radial {
    0% {
        -moz-transform: rotate(0deg) translateX(100px) rotate(0deg);
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

@-o-keyframes radial {
    0% {
        -o-transform: rotate(0deg) translateX(100px) rotate(0deg);
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

@keyframes radial {
    0% {
        -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
        -moz-transform: rotate(0deg) translateX(100px) rotate(0deg);
        -o-transform: rotate(0deg) translateX(100px) rotate(0deg);
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        -moz-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        -o-transform: rotate(360deg) translateX(100px) rotate(-360deg);
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

#myDiv { /*This gem centers everything*/
    display: none;
    text-align: center;
}

/*Details Pages*/

.petDetailsPhoto {
    width: 300px;
    height: auto;
    border: 10px solid #e5e4dc;
}

#documentThumbnail {
    width: 80px;
    height: auto;
    border: 1px solid white;
}

    #documentThumbnail:hover {
        transform: scale(1.05)
    }

.icon-archive2 {
    font-size: 20px;
}

.icon-database-add {
    padding-left: 15px;
    font-size: 20px;
}

.detailsIcons {
    float: right;
}

.parshViews {
    font-family: 'Quicksand', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


#detailsPetName {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Rochester', cursive;
    color: #f97087;
    font-size: 60px;
}

.well {
    background-color: rgba(91, 56, 62, 0);
    border: 1px solid rgba(229, 228, 220, .3); 
    color: #e5e4dc;
    font-family: 'Quicksand', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a5868b;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #f97087;
    }


/*Create Page*/

input#PetName.form-control.text-box.single-line {
    background-color: transparent !important;
    border-style: solid;
    border-color: #f4e55f;
    color: #e5e4dc;
}

input#BirthDate.form-control.text-box.single-line {
    background-color: transparent !important;
    border-style: solid;
    border-color: #f4e55f;
    color: #e5e4dc;
}

input#PetType.form-control.text-box.single-line {
    background-color: transparent !important;
    border-style: solid;
    border-color: #f4e55f;
    color: #e5e4dc;
}

input#Breed.form-control.text-box.single-line {
    background-color: transparent !important;
    border-style: solid;
    border-color: #f4e55f;
    color: #e5e4dc;
}

input#Weight1.form-control.text-box.single-line {
    background-color: transparent !important;
    border-style: solid;
    border-color: #f4e55f;
    color: #e5e4dc;
}

input#WeightDate.form-control.text-box.single-line {
    background-color: transparent !important;
    border-style: solid;
    border-color: #f4e55f;
    color: #e5e4dc;
}

input#PetPhoto.form-control.text-box.single-line {
    background-color: transparent !important;
    border-style: solid;
    border-color: #f4e55f;
    color: #e5e4dc;
}

input#ImageTitle.form-control.text-box.single-line {
    background-color: transparent !important;
    border-style: solid;
    border-color: #f4e55f;
    color: #e5e4dc;
}

div.col-md-10 a {
    margin-left: 150px;
}


.icon-plus-square {
    font-size: 20px;

}

.icon-plus-square:hover {
        color:#f4e55f; 
    }

input#ImageTitle.form-control.text-box.single-line {
    background: none !important;

}

input#ImageTitle.form-control.text-box.single-line:focus {
    border: 1px solid white;
}

.form-horizontal.createPage {

    text-align: center;
    align-content: center;
    text-align: center;
    margin-left: 300px;
}

.form-group {

    width: 700px;
    text-align: center;
    align-content: center;
}

#createPageButton {

   
}

