@{
    ViewBag.Title = "Home Page";
}
<div class="outer">
    <div class="overlay"></div>
    <div class="inner">
        <div class="panel panel-default" id="frontpagePanel">
            <div class="panel-body">
                <h1>Pawsitive Care</h1>
                <div class="row homeindex">
                    <div class="col-md-4 home-page">
                        <span class="icon-bone" id="bone">
                        </span><br />
                        <h3>Add your pets</h3>
                        <p>Create a profile and add details for each pet such as birthdate, breed, and pet type.</p>
                    </div>
                    <div class="col-md-4 home-page">
                        <span class="icon-upload" id="upload">
                        </span><br />
                        <h3>Upload documents + pictures</h3>
                        <p>Upload pictures of your pets and documents such as breeder papers, vet receipts, spay and neuter certificates, and proof of rabies vaccinations.</p>
                    </div>
                    <div class="col-md-4 home-page">
                        <span class="icon-heart-pulse" id="heart">
                        </span><br />
                        <h3>Track your pet's health records</h3>
                        <p>Keep track of each pet's vet visits, surgeries, vaccination records, and weight. Get alerts when your pet is due for vaccinations. </p>
                    </div>
                </div>
                @if (Request.IsAuthenticated)
                {
                    <p></p>
                }
                else
                {
                <div class="col-md-12">
                    <button id="login"><a href="~/Account/Register">Register</a></button>
                    <button id="login"><a href="~/Account/Login">Login</a></button>
                </div>
                }
            </div>
        </div>
    </div>
</div>
