@model IEnumerable<PawsitiveCare.Vaccination>


@foreach (var item in Model) {
    <div class="well">
        @Html.DisplayFor(modelItem => item.VaccinationType)
        @Html.DisplayFor(modelItem => item.DateReceived)
        @Html.DisplayFor(modelItem => item.DueDate)
    </div>
}

